<!DOCTYPE html>
 <html>
 <head>
     <meta  charset="UTF-8">
     <title>数据库连接</title>
 </head>
 <body>
     <h1>数据库连接</h1>
     <form  method="post" action="/" ali>
         <table align="center">
        <tr><td align="right">host:</td><td><input type="text"  name="host"></td></tr>
             <tr><td align="right">user:</td><td><input  type="text"  name="user" ></td></tr>
             <tr><td align="right">password:</td><td><input  type="password" name="pwd" ></td></tr>
             <tr><td align="right">port:</td><td><input  type='text' name="port" ></td></tr>

             </table>
             <p align="center"><input  type="submit" name="连接" value="connect" ></p>
     </form>
 </body>
 </html>